<div class="container mt-3">
  <div class="title-interest w-100 my-3">
    <h3 class="font-weight-normal">Otros temas de tu interés</h3>
  </div>
  <div class="row">
    <app-card-interest class="col-12 col-md-6" *ngFor="let card of cards" [card]="card"></app-card-interest>
  </div>
</div>
