.header-image{
  background: linear-gradient(rgba(5,5,5,0.40),rgba(5,5,5,0.20)), url('src/assets/banner.png');
  background-size: cover;
  margin-top: 5rem;
  min-height: 25rem;
  height: 400px;
}

.search-input{
  height: 50px;
  background-color: white;
  padding-left: 2rem;
  border-radius: 2rem;
  border: none;
}

.search-button{
  position: absolute;
  right: -5px;
  top: -11px;
}
.search-button:focus{
  outline: none;
}

.govco-icon{
  color: #004884 !important;
}
