<header>
  <app-nav></app-nav>
</header>
<div class="container-fluid">
  <div class="row header-image text-center align-items-center">
    <div class="container text-white px-5">
      <h1 class="text-white">! Te damos la bienvenida !</h1>
      <form>
        <div class="form-group d-flex position-relative">
          <input type="text" class="form-control search-input" placeholder="Encuentra aquí lo que buscas"
            id="input-simple-govco" required>
          <button type="button" class="btn-symbolic-govco search-button">
            <span class="govco-icon govco-icon-search-cn size-3x"></span>
          </button>
        </div>
      </form>
      <h3 class="text-white font-weight-light">Toda la oferta del Estado Colombiano a tu alcance</h3>
    </div>
  </div>
</div>
