<div class="container d-flex p-4">
  <div class="row">
    <div class="col-12 col-md-8 pr-4">
      <h3 class="font-weight-normal mb-3">Queremos conocer tu opinión</h3>
      <app-participation-exercises *ngFor="let opinion of opinions" [opinion]="opinion"></app-participation-exercises>
      <a href="#" class="btn btn-low-mix-govco float-right">
        <span class="btn-govco-text">Conocer otros ejercicios de participación </span>
        <span class="govco-icon govco-icon-right-arrow"></span>
      </a>
    </div>

    <div class="col-12 col-md-4 card card-opinion govco-card mt-3 mt-md-0">
      <div class="card-body">
        <h3 class="headline-l-govco font-weight-normal">{{ opinionCard.title }}</h3>
        <label class="card-text card-opinion__text">{{ opinionCard.subtitle }}</label>
        <span class="small-text-govco pb-3 card-opinion__text">{{ opinionCard.description }}</span>
        <textarea class="form-control" rows="5" placeholder="Escribe aquí tu opinión" id="textarea-example"
          maxlength="300">
      </textarea>
      </div>
      <div class="card-footer govco-card-footer govco-center">
        <button href="/" class="btn btn-round btn-middle text-lowercase">Enviar mi opinión</button>
      </div>
    </div>
  </div>
</div>
